.custom-arrow-icon {
    display: block;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #007bff; /* Change color as needed */
    position: relative;
  }
  
  .custom-arrow-icon::after {
    content: "";
    position: absolute;
    /* bottom: -25px; */
    transform: translate(-50%, -150%);
    width: 10px;
    height: 100px;
    background-color: #007bff;
    /* border-top: 10px solid #007bff; Change color as needed */
  }

  .world-map {
    height: 500px;
    width: 500px;
    background-color: #f0f0f0;
  }